@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
	scroll-behavior: smooth;
}
body{
	background-color: #24252A;
	margin: 0;
	padding: 0;
	
}

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 10%;
}

h1{
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 1.2em;
	font-weight: 400;
	margin-right: auto;
}

.container{
	width: 70%;
	margin: auto;
}
.clr{
	clear: both;
}
.logo{
	font-family: 'Dancing Script', cursive;
}

li,a{
	color: #fff;
	font-family: sans-serif;
	text-decoration: none;
}

.navmenu ul{
	list-style: none;
}

.navmenu li{
	display: inline-block;
	padding: 0 20px;
}

.navmenu li a.active {
	border-bottom: 2px solid #fff44f;
}

.navmenu li a:hover{
	border-bottom: 2px solid #fff44f;
}
p{
	color: #ffff;
	font-family: sans-serif; 
}
.img img{
	width: 100px;
	height: 10%;
}
.showcase{
	margin-top: 50px;
}
.paragraph{
	float: left;
	width: 40%;
	margin-top: 150px;
}
@media(max-width: 600px){
	.paragraph{
		width: 100%;
		float: none;
	}
}
.paragraph h1{
	font-size: 1.7rem;
}
.paragraph b{
	color: #00808080;
}
.img{
	float: right;
	width: 60%;
}

@media(max-width: 600px){
	.img{
		width: 100%;
		float: none;
		visibility: hidden;
	}
}

.btn{
	border-radius: 10px;
	border: none;
	background-color: #008080;
	color: #ffff;
	padding: 16px;
	cursor: pointer;
	margin-top: 20px;
	font-size: 1em;
}

.about{
	text-align: center;	
	margin: 20px;
	height: 500px;
}

.AboutH{
	font-size: 4em;
	margin-bottom: 0;
}
.aboutP{
	line-height: 1.6rem;
}
@media(max-width: 600px){
	.aboutP{
		width: 100%;
		text-align: justify;
	}
}
.bg{
	width: 100%;
	margin-bottom: 40px;
}
footer{
	background-color: #4f4f4f;
	width: 100%;
	height: 220px;
	bottom: 0;
	display: flex;
	justify-content: center;
}
textarea{
	width: 25rem;
	height: 5rem;
	resize: none;
	border-radius: 15px;
	padding: 10px;
	border: none;
}
button .Send{
	width: 5rem;
	height: 1.5rem;
	border: none;
	border-radius: 10px;
	color: black;
}
.comments{
	padding-top: 30px;
}
.footNav{
	display: flex;
	align-items: center;
	justify-content: center;
}
.footNav ul  {
	font-size: 1.5em;
	line-height: 1.6em;
	margin-left: 10rem;
	text-decoration: none;

}


